@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/main.scss';

.input-container {
  display: flex;
  gap: $gap;
  margin-bottom: 20px;

  input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $border-color;
  }
}