@import 'variables';
@import 'mixins';

.container {
  @include flex-center;
  flex-direction: column;
  padding: 80px;
}

.note-section {
  width: 100%;
  max-width: 600px;
  margin: auto;

  @include flex-center;
  flex-direction: column;
} 